@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f8f8;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}


.hand-drawn-underline {
  background-image: url("/images/svg/underline.svg");
  background-position: 0 1.06em;
  background-size: 100% 10%;
  background-repeat: no-repeat;
}
